name: portfolio
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  url_launcher: ^6.3.1
  flutter_riverpod: ^2.6.1
  flutter_animate: ^4.5.0
  flutter_svg: ^2.0.10
  google_fonts: ^6.1.0
  http: ^1.2.0
  blurbox: ^0.0.4
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
     - assets/
